@charset "EUC-KR";
html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: #f5f6f7;
    font-family: 'Arita-dotum-Medium';
}

#header {
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
}
#wrapper {
    position: relative;
    height: 75%;
    margin: 50px;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}

#login_form{
	margin: 300px;
}

#logo{
	margin: 50px;
	text-align: center;
	font-size: 50px;
}

#logo_img{
	align-content: center;
	width: 230px;
	height: 50px;
}

#error_msg{
	font-family: 'Arita-dotum-Medium'; 
	color : #FF0000;
	padding-top: 15px;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}

fieldset {
	border : none;
}

input:focus {
    outline: none;
}


h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}


.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

input {
    font-family: 'Arita-dotum-Medium';    
}

.id_box {
	display: flex;
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: 'Arita-dotum-Medium';
}


.btn_area {
    margin: 30px 0 91px;
}

#btnLogin{
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #4F594F;
    background-color: #BED7D8;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Arita-dotum-Medium';
}

#btnLogin:hover{
	background-color: #53928C;
	color: #fff;
}

#footer{
	text-align: center;
	margin-top: 50px;
}

@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff%27) format('woff');
    font-weight: normal;
    font-style: normal;
}