@charset "EUC-KR";

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

/* 헤더 CSS */
#hgroup1 {
   width: 1600px;
   height: 100px;
   margin: 0 auto;
}
#menu_bar {
   width: 1400px;
   height: 100px;
   margin: 20px auto 0;
}
#left-menu {
   display: inline-block;
   width: 400px;
   margin-top: 20px;
   margin-left: 0;
}
#middle-menu {
   display: inline-block;
   width: 500px;
    text-align: center;
    margin: 0 auto;
}
#right-menu {
   display: inline-block;
   width: 300px;
   margin-top: 20px;
   margin-right: 0;
   margin-left: 50px;
}

/* 메뉴 버튼 CSS */
.menu {
   font-family: 'Arita-dotum-Medium';
   text-align: center;
   text-transform: uppercase;
   font-weight: 500;
   margin: 0;
   padding: 0;
}
.menu * {
   box-sizing: border-box;
   -webkit-transition: all 0.35s ease;
   transition: all 0.35s ease;
}
.menu ul {
   display: inline-block;
   padding: 0;
   margin: 0;
}
.menu li {
   display: inline-block;
   list-style: outside none none;
   margin: 0 0 0 20px;
   overflow: hidden;
}
.menu a {
   padding: 0.3em 0;
   color: rgba(0, 0, 0, 0.7);
   position: relative;
   display: inline-block;
   letter-spacing: 1px;
   margin: 0;
   text-decoration: none;
   font-family: 'NanumBarunGothic';
}
.menu a:before,
.menu a:after {
   position: absolute;
   -webkit-transition: all 0.35s ease;
   transition: all 0.35s ease;
}
.menu a:before {
   top: 100%;
   display: block;
   height: 3px;
   width: 100%;
   content: "";
   background-color: #c0392b;
}
.menu a:after {
   padding: 0.3em 0;
   position: absolute;
   top: 100%;
   left: 0;
   content: attr(data-hover);
   color: black;
   white-space: nowrap;
   font-family: 'NanumBarunGothic';
}
.menu li:hover a,
.menu .current a {
   transform: translateY(-100%);
}
/* logo CSS */
#logo {
   width: 100px;
   height: 30px;
   text-decoration: none;
   display: inline-block;
}
#logo_img {
   width: 100px;
   height: 30px;
}
/* 검색창 */
#mainSearch {
   width: 350px;
   height: 23px;
    border-radius: 20px;
    border: 1px solid #bbb;
    margin: 10px 0;
    padding: 10px 12px;
}
/* 검색 버튼  */
.searchBtn {
   width: 45px;
   height: 45px;
   position: relative;
    margin: 0;
    border-radius: 20px;
   border: 1px solid #bbb;
   background-color: rgba(255,255,255,0.5);
}
/* 연관검색어 리스트  */
#searchList {
   width: 450px;
   height: 400px;
   overflow: auto;
   margin-left: 40px; 
   margin-top: -1px;
   border-top: 0px;
   position: absolute; 
   z-index: 2;
   background-color: rgba(255,255,255,0.5);
    border: 1px solid #bbb;
    cursor: pointer;
}
#searchList button {
   width: 100%;
   height: 40px;
    padding: 0;
    margin: 0;
    text-align: left;
    background-color: #fff;
    font-family: 'Arita-dotum-Medium';
    border: 0;
    outline: 0;
    cursor: pointer;
}
#searchList button:hover {
   background: gray;
   border: 1px solid rgba(0, 0, 0, 0.05);
   box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
   color: #fff;
}
/* template body CSS */
#wrap {
   margin: 0 auto;
   width: 955px;
   height: 80%;   
}

/* 노래 디테일 */
#songDetail {
   width: 955px;
   height: 300px;
   margin-top: 50px;
}

.video-container{
   width: 400px;
   height: 300px;
   display: inline-block;
}

.album_img a img{
   width: 200px;
   height: 200px;
   margin-left: 25px;
   display: inline-block;
}
.content {
   width: 250px;
   height: 150px;
   display: inline-block;
}
.song_info{
   
}
.song_info ul {
   display: inline-block;
   padding: 0;
   margin: 0;
}
.song_info ul li {
   display: inline-block;
   list-style: outside none none;
   margin: 0 0 0 20px;
   overflow: hidden;
}

/* 화면에서 라인표기 되는 CSS*/
hr {
    color: #dadada;
    background-color: #fff;
    height: 1px;
    width: 955px;
}

/* footer CSS */
#footer1 {
   width: 955px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0;
   text-align: center;
   background-color: #fafafa;
}
.sampleimg{
   width: 160px;
   height: 160px;
}
/* 나눔바른고딕 */
@font-face {
   font-family: 'NanumBarunGothic';
   font-style: normal;
   font-weight: 400;
   src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
   src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
/* 아리따돋움 */ 
@font-face {
   font-family: 'Arita-dotum-Medium';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff%27) format('woff');
   font-weight: normal;
   font-style: normal;
}